<h1>All Events</h1>

<!-- <h3>Welcome <%= current_user.name %></h3> -->

<% if flash[:success] %>
  <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Location</th>
      <th>View</th>
    </tr>
  </thead>
<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.location %></td>
    <td><a href="/events/<%= event.id %>">View</a></td>
  </tr>
<% end %>
</table>

<a href="/events/new"><button class="btn">New Event</button></a>
